
@{
    ViewData["Title"] = "About";
}

<main>
    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>About Us</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End-->
    <!-- About Details Start -->
    <div class="about-details section-padding30">
        <div class="container">
            <div class="row">
                <div class="offset-xl-1 col-lg-8">
                    <div class="about-details-cap mb-50">
                        <h4>Dyqani Jonë</h4>
                        <p>
                            Dyqani jonë përmban produkte me kualitet dhe cilësi të lartë, me garacion të garantuar, dhe përdorim afatgjatë.
                        </p>
                        <p>Tek Products mund ti shihni të gjitha produktet që ne i ofrojm!.</p>
                    </div>

                    <div class="about-details-cap mb-50">
                        <h4>Qëllimi Jonë</h4>
                        <p>
                            Qëllimi jonë është që konsumtaorët tanë të ndahen të këndaqur me përzgjedhjen e produkteve që ne i ofrojmë.
                        </p>

                    </div>
                    <div class="about-details-cap mb-50">
                        <h4>Stafi Jonë</h4>
                        <p>
                            Stafi jonë përbëhet prej një stafi që ka njohuri të avancuara ne teknologji, dhe paisje teknologjike.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Details End -->
    
    <!--? Shop Method Start-->
    <div class="shop-method-area">
        <div class="container">
            <div class="method-wrapper">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-method mb-40">
                           
                            <h6>You are Welcome</h6>

                        </div>
                    </div>
                   
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-method mb-40">
                            <i class="ti-reload"></i>
                            <h6>24/7 Assistance</h6>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Method End-->
</main>